<!DOCTYPE html>
<html>
  <head>
    <title>One Month Rails Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Test Navbar -->

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">One Month Rails</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li><%= link_to "Home", root_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "About", about_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "Contact", contact_us_path, class: "nav-link" %></li>
            </ul>  
          </div>
                <% if user_signed_in? %>
                  <%= link_to "Sign Out", signout_path, method: :delete, class: "nav-link" %>
                <% else %>
                  <%= link_to "Sign In", signin_path, class: "nav-link" %>
                  <%= link_to "New User", signup_path, class: "nav-link btn btn-primary" %>
                <% end %>

        </div>
    </nav>

    <!-- Flash messages -->
    <% flash.each do |name, message| %>
      <%= content_tag(:div, message, class: "alert alert-info #{name}") %>
      <% end %>

    <!--  <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    -->

    <!-- Page Content -->
    <%= yield %>
    
    <!-- Footer -->
    <footer class="small text-muted">
      <div class="container">
        <hr>
        <center>
          <p>© 2016 One Month</p>
        </center>
      </div>
    </footer>

  </body>
</html>
